.pagination{
  text-align: center;
  background-color: $color-skyblue;

  span{
    padding: 0 5px;
    font-size: 18px;
    font-weight: 500;
  }
}
.content-new{
  position: fixed;
  right: 70px;
  bottom: 60px;
  i{
    font-size: 120px;
    color: $color-textyellow;
  }
}