.header{
  height: $hei-center;
  width: 100%;
  background-color: $color-skyblue;
  position: fixed;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.7);

  &__bar{
    @include justify-spbetween;
    color: $color-white;

    &__title{
      a{
        padding: $sp-5px-10px;
        margin-left: 20px;
        font-size: 25px;
        line-height: $hei-center;
        @include btn-layout;
        font-weight: bold;
      }
    }
    &__info{
      display: flex;

      &__user{
        @include item-center;
        font-size: 20px;
        font-weight: 500;
          span{
            margin-right: 20px;
          }
        &__management{
          list-style: none;
          display: flex;
          
          li{
            margin:0 5px;
            text-align: right;
            a{
              padding: $sp-5px-10px;
              margin-right: 10px;
              font-size: 16px;
              @include btn-layout;
            }
          }
        }
      }
    }
  }
}

a{
  text-decoration: none;
  border-bottom: none;
  
}